* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),
     url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

#title {
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 4rem;
    color: rgb(243, 242, 242);
    font-size: 2.2rem;
}

#description {
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgb(243, 242, 242);
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
}

#survey-form {
    width: 45%;
    background-color: rgb(36, 36, 68);
    margin: 1rem 18rem 4rem 18rem;
    padding: 2rem 3.5rem;
    border-radius: .3rem;
    box-shadow: 0 0 0 1px rgba(50, 52, 164, 0.4);
}

div {
    margin-top: 2rem;
}

div label {
    color: white;
    font-size: 1.5rem; 
    opacity: .9;
}

#name, #email, #number, #dropdownrole, #dropdownfeature,#comments {
    width: 100%;
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 400;
    border: 1px solid rgb(83, 80, 80);
    border-radius: .4rem;
    margin-top: .3rem;
}

span {
    color: red;
    font: weight 500px;;
}

#comments {
    padding: .5rem;
}

#name:focus,#email:focus,#number:focus,#dropdown:focus,#comments:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 .1rem rgb(0 123 255 / 25%);
}

.radioselecting, .checkboxselecting {
    margin-bottom: .4rem;
}

#lastcheckbox,#lastradio {
    margin-bottom: .9rem;
}

#submit {
    width: 100%;
    color: white;
    padding: .8rem;
    background-color: hsl(143, 52%, 45%);
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2rem;
}

